@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background{
    max-height: 100vh;
    width: 100%;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    max-height: 100vh;
    height: 100vh;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.25);
    padding: 4rem 12rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 2.5rem;
}

.quote{
    width: 40%;
}

.text{
    color: white;
    font-size: medium;
    word-spacing: .8em;
    font-weight: 400;
    letter-spacing: .2em;
}

.author{
    color:white;
    font-weight: 600;
    word-spacing: .5em;
    letter-spacing: .2em;
}

.refresh{
    margin-left: 2rem;
    margin-top: .25rem;
    cursor: pointer;
}

.bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
}

.clock{
    margin-top: 13rem;
}

.greeting{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon{
    margin-right: 1rem;
    margin-left: .5rem;
}

#greeting{
    color: white;
    font-size: 1.75em;
    font-weight: 300;
    font-variant: small-caps;
    word-spacing: .25em;
    letter-spacing: .0625em;
}

.time-box{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#time{
    color: white;
    font-size: 14em;
    font-weight: 600;
    margin-right: 2.5rem;
    line-height: 1.125em;
}

#session{
    color: white;
    font-size: 5em;
    font-weight: 200;
}

.music{
    height: auto;
    display: flex;
    width: 10rem;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
}

.music-btn{
    height: 3.5rem;
    width: 10rem;
    padding: 0 1rem;
    background-color: white;
    border-radius: 1.875rem;
    margin-bottom: 2.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.label{
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.play{
    display: flex;
    align-items: center;
}